@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Quantico:ital@1&display=swap');

 *{
   font-family: Quantico, sans-serif;
   margin: 25px
   }

}

h1 {
     border-style: double;
     text-transform: uppercase;
     font-size: 68px;
     color: red;
     padding: 100px;
     border: 1px;
     height: 30px;
     width: 100%;
     text-align: center;
     position: absolute;
     top: 0px;
     font-size: 130px;
     
 
     
   }

.love-text{
    color:red;
    text-align: left;
    vertical-align: left;
    margin-top: 50px;
    position: relative;
    

    }
a {
  color: darkgoldenrod;
  text-transform: uppercase;
  text-decoration: none;
  
  }

                               /* END OF HEADINGS AND lOGO */
 
                               /*COMMUNITY RECCOMENDATIONS*/

.community{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: 50%;
    border: solid 1px green;
    margin: 30px;
    margin-left: 600px;
    text-transform: capitalize;
    margin: auto;
}

.community h2{
    color: aliceblue;
}
  
 .rated{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: 50%;
    border: solid 1px green;
    margin: 30px;
    text-transform: capitalize;
  }
.rated .rated-head{
    color: aliceblue;
}


 .watching{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: 50%;
    border: solid 1px green;
    margin: 30px;
    color: aliceblue;

  }

.moments{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: 50%;
    border: solid 1px green;
    margin: 30px;
    color: aliceblue;
  }