@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Quantico:ital@1&display=swap');
 
 *{
   background-image: url(https://github.com/AP-Solo/l-anime/blob/master/essential/css/images/dex-ezekiel-IxDPZ-AHfoI-unsplash.jpg);
   font-family: Quantico, sans-serif;
   }



nav{
  position: relative;
}
 h1 {
     
     text-transform: uppercase;
     font-size: 68px;
     color: red;
     padding: 50px;
     border: 1px;
     height: 30px;
     width: 100%;
     text-align: center;
     background-color: black;
     position: relative;
     top: 0px;
     
   }

 .love-text{
    color:red;
    text-align: left;
    vertical-align: left;
    margin-top: 50px;
    position: relative;
    

    }
a {
  color: darkgoldenrod;
  width: 25px;
  height: 25px;
  float: left;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  
  }

                               /* END OF HEADINGS AND lOGO */
 
                               /*COMMUNITY RECCOMENDATIONS*/

.community{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: 50%;
    border: solid 1px green;
    margin: 30px;
    margin-left: 600px;
    text-transform: capitalize;
}

.community h2{
    color: aliceblue;
}

 .rated{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: 50%;
    border: solid 1px green;
    margin: 30px;
    text-transform: capitalize;
  }
.rated .rated-head{
    color: aliceblue;
}


 .watching{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: 50%;
    border: solid 1px green;
    margin: 30px;
    color: aliceblue;

  }