@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Quantico:ital@1&display=swap');

 *{
   font-family: Quantico, sans-serif;
   
   }

body{
    background-image: url("/assets/images/dex-ezekiel-IxDPZ-AHfoI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    
  }
header h1{
  color: rgb(228, 253, 4);
  font-size: 100px;
}
 
a{
  text-decoration: none;
  list-style: none;
  margin: 0px 0px 0px 0px;
  color: yellow;
  word-spacing: 5px;
}

strong{
  color:royalblue;
}


.nav-links {
    color: rgb(255, 251, 0);
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    padding: 1px;
    margin: 0px 0px 0px 30px;
    font-weight: 700;
    background-color: rgb(4, 78, 10);
    width: 270px;
   
}

nav li{
  display: inline;
  
}
nav a{
  padding-left: 10px;
}

.nav-links a:hover{
    color:rgb(18, 235, 112);
    text-decoration: none;
    font-size: 30px;

}


.love-text{
    color:rgba(246, 250, 8, 0.993);
    text-align: center;
    clear: both;
    padding: 1px;
    align-content: center;
    font-weight: 900;
    margin: 5px;
    text-transform: uppercase;
    }

                               /*Club Ethos*/

.recommendations{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: 50%;
    border: solid 1px green;
    text-transform: capitalize;
    display: inline-block;
    overflow-x: auto;
    margin-left: auto;
}

.recommendations h2, .rated-head, .lists li, h4, h5{
    color: rgba(240, 248, 255, 0.849);
}
h5{
  text-decoration: underline;
  letter-spacing: 2px;
  font-size: 30px;
}

span{
  color:rgb(246, 250, 8)
}
section > p{
  color: aliceblue;
}

  
 .rated{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: 50%;
    border: solid 1px green;
    margin: 25px 15px 15px 300px;
    text-transform: capitalize;
    overflow-x: auto;
  }
.rated .rated-head{
    color: aliceblue;
}


 .watching{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: 40%;
    height:20%;
    border: solid 1px green;
    margin: 50px 0px 20px 400px;
    color: aliceblue;
    overflow-x: auto;
  }

  

                   /* Favorites link page*/

  .quotes{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: inherit;
    border: solid 1px green;
    color: aliceblue;
    height: 30%;
    margin: 0px 0px 20px 0px;
  }
  .characters{
    background-color: rgb(3, 27, 11);
    padding: 25px 15px 15px 25px;
    width: inherit;
    border: solid 1px green;
    margin: 50px 0px 20px 0px;
    color: aliceblue;
    justify-content: space-evenly;
    height: auto;
    text-align: center;
    height: 50%;
    
  }
  .characters img{
    height: 200px;
    width: 200px;
    justify-content: space-evenly;
    margin: 40px;
  }

                              /*footer*/

footer{
  background-color: rgb(250, 177, 8);
  padding: 25px 15px 15px 25px;
  width: inherit;
  border: solid 1px green;
  color: rgb(25, 26, 27);
  bottom: 0;
}

                   /*MEDIA QUERYS*/

@media screen and (max-width: 900px) {
  
   body{
     width: 100%;
     background-repeat: repeat;
     background-size: 50%;
   }

   header, nav{
     width: 105%;
     height: 105%;
     box-sizing: border-box;
   }

   header {
     margin-left: 100px;
   }
   
   
   nav > li{
     text-align: center;
   }
   

   .recommendations{
    margin: 0px 0px 20px 0px;
    width: 100%;
   }

   .rated{
    margin: 50px 0px 20px 0px;
    width: 100%;
   }

   .watching{
    margin: 50px 0px 20px 0px;
    width: 100%;
   }

   footer{
     margin-top: 20px;
   }

}

@media screen and(max-width:500px) {
  body, .watching, .recommendations, .characters{
      width: 500px;
      margin-right: 1px;
  }

  .watching, .recommendations, .characters{
    display: block;
    justify-content: safe;
    overflow-y:auto;
  }
  
}